/* This file contains CSS for the main structure  */
/* or basically anything that's not page 1 or 2 */

.MainWrapper{
	/* background-color: #FFA500; */
	position: fixed;
	background-image: url("assets/images/desk.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

/* "Position: sticky" with "top: 0" can pin the element so it doesn't move when scrolling */
/* Z-index can only work on classes that are non-static positioned */
/* z-index in order (low to high): button column -> button -> info -> active button -> title */

.TitleRow{
	position: sticky;
	background-color: transparent;
	top: 0;
	height: 100px;
	width:100%;
	z-index: 3;
}

/* Making the content in this div able to overflow since it contains the main content*/
/* The div here is below the navbar and the title row */
.ContentWrapper{
	height: 100%;
	width: 100%;
	top: 0;
	overflow-y: scroll;
	
	/* Hide scrollbar but keep functionality for: */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; /* Firefox */	
}